# 신호등 이미지 추출 & 디렉토리 분류

신호등 정보 읽어와서 좌표대로 이미지를 자르고 
red, green, yellow 디렉토리에 각각 분류하기

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv('train_data.csv')

In [2]:
data = data.iloc[:,1:]

In [3]:
data

                 파일명                      좌표  red green yellow
0      15409944.json    [210, 506, 232, 515]  off   off    off
1      15409944.json    [263, 500, 285, 509]  off   off    off
2      15421491.json    [970, 504, 981, 509]  off    on    off
3      15421491.json    [962, 524, 974, 528]  off    on    off
4      14509674.json   [1222, 77, 1272, 106]  off    on    off
...              ...                     ...  ...   ...    ...
5663   14732542.json  [1255, 361, 1272, 369]  off    on    off
5664   14732542.json  [1304, 354, 1322, 363]  off    on    off
5665  a16220312.json  [1068, 128, 1157, 165]  off   off    off
5666  a16220312.json  [1304, 139, 1394, 176]  off   off    off
5667  a16220312.json  [1524, 152, 1615, 185]  off   off    off

[5668 rows x 5 columns]

In [4]:
len(data)

5668

In [9]:
import os
import cv2
filepath = "data/train/train_daylight"
classes = os.listdir(filepath)

savedir = ['red','green','yellow','etc']
cnt = 0
for i in range(0,len(data)):
    cnt+= 1
    
    filename = data['파일명'][i]
    coor = data['좌표'][i].replace("[","")
    coor = coor.replace("]","")
    
    filename =filename.split(".")[0]+'.jpg'
    img  = cv2.imread(filepath+'/'+filename)
    
    # 좌표로 신호등 이미지 자르기
    x,y,w,h = map(int,coor.split(","))
    roi_img = img[y:h, x:w]
    
    # 색깔별 디렉토리 나눠서 저장
    red = data['red'][i]
    yellow = data['yellow'][i]
    green = data['green'][i]
    
    if red == "on":
        direct = savedir[0]
    elif green == "on":
        direct = savedir[1]
    elif yellow == 'on':
        direct = savedir[2]
    else:
        direct = savedir[3]
    
    cv2.imwrite('./'+direct+'/'+str(cnt)+'.jpg',roi_img)